.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
  }
  
  input {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s ease;
  }
  
  input:focus {
    outline: none;
    border-color: #ff5757;
  }
  
  .login-btn {
    background-color: #ff5757;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
  }
  
  .login-btn:hover {
    background-color: #e04a4a;
  }
  
  .social-login {
    display: flex;
    justify-content: space-around;
  }
  
  .google,
  .facebook {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f8f8f8;
    border: none;
    color: #333;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .google:hover {
    background-color: #f4cccc;
  }
  
  .facebook:hover {
    background-color: #cce4ff;
  }
  